.grid-container {
  margin: 10px 15px 20px 25px;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  /* grid-gap: 10px; /* Espacio entre las celdas */
  /* padding: 20px;
  background-color: #f0f0f0; */
}

.grid-item {
  /* background-color: #ccc;
  height: 100px; /* Altura fija para los elementos vacíos */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* font-size: 20px; */
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  font-family: "Lato", sans-serif;
  width: 550px;
}

.container1 {
  background: turquoise;
  width: 180px;
  height: 180px;
  text-align: left;
  line-height: 180px;
}

.element {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.element1 {
  @extend .element;
  background: papayawhip;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  line-height: 45px;
  vertical-align: top;
  /* margin: 0; */
}

.element2 {
  @extend .element;
  background: papayawhip;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  /* margin: 60px 0; */
}

.element3 {
  @extend .element;
  background: papayawhip;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 20px;
  vertical-align: bottom;
  /* margin: 120px 0; */
}

.container2 {
  background: turquoise;
  width: 180px;
  height: 180px;
  text-align: center;
  line-height: 180px;
}

.element4 {
  @extend .element;
  background: pink;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
  /* margin: 0 auto; */
}

.element5 {
  @extend .element;
  background: pink;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  /* margin: 60px auto; */
}

.element6 {
  @extend .element;
  background: pink;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 20px;
  vertical-align: bottom;
  /* margin: 120px auto; */
}

.container3 {
  background: turquoise;
  width: 180px;
  height: 180px;
  text-align: right;
  line-height: 180px;
}

.element7 {
  @extend .element;
  background: lightcyan;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
  /* margin: 0 0 0 auto; */
}

.element8 {
  @extend .element;
  background: lightcyan;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  /* margin: 60px 0 0 auto; */
}

.element9 {
  @extend .element;
  background: lightcyan;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 20px;
  vertical-align: bottom;
  /* margin: 120px 0 0 auto; */
}
